@media only screen and (min-width: 961px){
/*
 *
 * Header
 *
 */

 header#mainHeader {
 	width: 100vw;
 }
 header#mainHeader > div {
 	width: 100%;
    background-color: black;
    position: relative;

 }
 header#mainHeader > div#floatingMessage {
 	width: 64%;
    padding: 14px 80px 0;
    top: 5%;
    right: 0;
    border-radius: 80px 0 0 5px;
    line-height: 36px;
    font-size: 25px;
    letter-spacing: 6px;
 }
 header#mainHeader > div > img {
 	height: 70vh;
 }
 header#mainHeader > a {
 	padding: 10px 35px;
 	font-size: 25px;
 	top: 75%;
 	left: 50%;
 	transform: translate(-50%,0);
 }

/*
 *
 * Content
 *
 */
 main.container-fluid > div > section > a > div.main-image > img {
    height: 600px;
}
 /* ---------- Home Page ---------- */
 
} /* End of Desktop View*/