@media only screen and (max-width: 600px){
/*
 *
 * Header
 *
 */
 header#mainHeader > div#floatingMessage {
 	width: 100%;
 	padding: 5px 15px 0;
 	top: 5%;
 	right: 0;
 	border-radius: 3px;
 	line-height: 25px;
 	font-size: 20px;
 	letter-spacing: 3px;
 	text-align: center;
 }
 header#mainHeader > a {
 	padding: 5px 15px;
 	font-size: 20px;
 	top: 65%;
 	left: 50%;
 	transform: translate(-50%,0);
 }

 /* ---------- Home Page ----------*/
 header#home > div > img {
 	height: 85px;
 }

/*
 *
 * Content
 *
 */
 main.container > div > div > h2 {
 	margin-top: 5px;
 	letter-spacing: 1px;
 	text-align: center;
 }

 section#findus > div > div > div > iframe {
    padding: 25px 0;
}

/*
 *
 * Footer
 *
 */
 section#contact > div > div.contact {
 	padding-left: 0;
    padding-right: 0;
 }
 section#contact > div > div.follow > ul > li {
 	display: inline-block;
 	margin: 2px;
 	padding: 3px;
 	border-radius: 50%;
 	border: 2px solid white;
 	width: 50px;
 }

 div.footer-container > p {
    font-size: smaller;
}

/* ---------- Classes ---------- */
.bm {
	margin-bottom: 15px;
}

} /* End of Mobile View */