/*
 *
 * CSS Reset
 *
 */
 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

/*
 *
 * General Rules
 *
 */
 body {
 	font-family: 'Montserrat', sans-serif;
 	background-color: #efe4e4;
 }

 /* ---------- Home Page ----------*/
 main.container-fluid {
 	background-color: #ebeaf399;
 	min-height: 50vh;
 }

 h1, h2, h3, h4, h5, h6 {
    font-family: 'Shrikhand', sans-serif;
    letter-spacing: 3px;
}

/*
 *
 * Header
 *
 */
 header#mainHeader {
 	position: relative;
 }
 header#mainHeader > div > img {
 	/*border: 3px solid black;*/
 	width: 100%;
 }
 div#carouselExampleIndicators {
 	width: 100%;
 }
 header#mainHeader > div#floatingMessage {
 	background-color: #efe7e730;
 	color: white;
 	position: absolute;
 	font-family: 'Lobster', cursive;
 }
 header#mainHeader > a {
 	position: absolute;
 	border-radius: 5px;
 	font-family: 'Abel', sans-serif;
 	text-decoration: none;
 	color: #efecec;
 }

 /* ---------- Home Page ---------- */
 header#home {
 	position: relative;
 }
 header#home > nav > a {
 	font-family: 'Shrikhand', cursive;
 	line-height: 60px;
    padding-right: 40px;
    color:yellow;
}
header#home > nav > div#navbarText > ul > li > div {
  background-color: #000000a3;
}
header#home > nav > div#navbarText > ul > li > div > a {
  color:white;
}

header#home > nav > div > ul > li > a {
  color: yellow;
}
header#home > div > img {
  width: 100%;
}

/*
 *
 * Content
 *
 */

 main.container-fluid > div > div > h2 {
 	margin-top: 10px;
 	letter-spacing: 3px;
 	text-align: center;
 }

 main.container-fluid > div > div > p {
 	text-align: justify;
 }

 /* ---------- Home Page ---------- */
 
 main.container-fluid > div > h1 {
 	text-align: center;
 	margin-top: 15px;
 	text-transform: uppercase;
 	letter-spacing: 3px;
 }
 main.container-fluid > div > section {
    border-right: 3px solid #827a7a;
    border-bottom: 3px solid #827a7a;
    margin: 0 4% 4%;
    box-shadow: 11px 12px 11px;
    transition: all 1s;
}
main.container-fluid > div > section:hover {
  transform: scale(1.03) translate(0,2.5%);
  z-index: 4;
}
main.container-fluid > div > section > a > div.main-image {
  width: 100%;
  margin-top: 10px;
}
main.container-fluid > div > section > a > div.main-image > img {
  width: 100%;
}
main.container-fluid > div > section > div:last-child {
  padding: 15px;
}
main.container-fluid > div > section > div > h2 {
  text-align: center;
}
main.container-fluid > div > section > div > p {
  text-align: justify;
}

section#events > div.row {
  background: #c5bebe;
  padding: 0 15px 50px;
  background-image: url("../img/home/bg2.jpg"); /*https://www.google.com.ph/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiN7YDruoDcAhULXbwKHTKgC5EQjRx6BAgBEAU&url=http%3A%2F%2Fblog.rossmortgage.com%2Fbuying-house-2018-start-4-things-now%2F&psig=AOvVaw1qWGOedSuN1JUGw9-DxqY2&ust=1530622317107542*/
  background-attachment: fixed;
  background-size: cover;
}
section#events > div.row > div > h2 {
  padding: 30px 0;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
}
section#findus {
    background-color: gray;
    margin:0;
    padding-top: 25px;
    color: white;
}
section#findus > div > div > div {
    padding-left: 3%;
}
section#findus > div > div > div > p {
    text-align: justify;
}
section#findus > div > div > div > img {
    width: 100%;
    height: 71%;
    border: 2px solid white;
}
section#findus > div > div > div > iframe {
    padding: 25px;
    width: 100%;
}
div#mapDiv {
    border: 2px solid white;
}

/* ---------- Project ---------- */
#row1 {
    background-color: #00800036;
}
#row2 {
    background-color: #ef0b4d26;
}

#row3 {
    background-color: #1004f92b;
}

#row4 {
    background-color: #ddde142b;
}
#row5 {
    background-color: #9c27b063;
}
#row6 {
    background-color: #ff572282;
}

main > div > div > ul {
    padding: 2px 8%;
}

/* ---------- About Page ---------- */
div#founder {
  text-align: center;
}
img#founder {
  border-radius: 50%;
  border: 5px solid black;
  padding: 10px;
}

/*
 *
 * Footer
 *
 */
 div.footer-container > hr {
 	border-color: white;
 }
 div.footer-container > p {
 	text-align: center;
 }
 section#contact > div > div > ul > li {
 	list-style-type: none;
 }
 section#contact > div > div.follow {
 	text-align: center;
 }
 section#contact > div > div.follow > ul > li {
 	display: inline-block;
 	margin: 10px;
 	padding: 13px;
 	border-radius: 50%;
 	border: 4px solid white;
 	width: 75px; 
 }
 section#contact > div > div.follow > ul > li:nth-child(1) {
 	background-color: #1616d0;
 }
 section#contact > div > div.follow > ul > li:nth-child(2) {
 	background-color: #0fa9e8;
 }
 section#contact > div > div.follow > ul > li:nth-child(3) {
 	background-color: #1764bf;
 }
 section#contact > div > div.follow > ul > li:nth-child(4) {
 	background-color: #de0626;
 }

 input[id="txtEmailus"] {
 	margin-bottom: 5px;
 }
 textarea[id="txaEmailus"] {
 	margin-bottom: 5px;
 	width: 100%;
    border-radius: 5px;
    padding: 15px;
    min-height: 60px;
    max-height: 60px;
}

/*
 *
 * Custom Classes
 *
 */
 .clear:after {
 	content: "";
 	display: block;
 	clear:both;
 }
 .bg {
 	background-image: url("../img/bg.jpg");
 	background-size: cover;
 }
 .bg-light-transparent {
    background-color: #0e0a0b42!important;
}
.footer-container {
  background-color: black;
  color: white;
  padding: 30px 25px 10px;
  margin-bottom: 0;
}
.shadow {
    box-shadow: 10px 10px 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

/* ---------- Override Bootstrap ----------*/
.nav-link.active {
    color: #0c0c0c!important;
    background-color: #ffeb3bd4!important;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: black!important;
    text-decoration: none;
    background-color: #f8f9fa;
}
.card-text {
	text-align: justify;
}

/* ---------- Disclaimer ----------*/
div#disclaimer > div > div.modal-content {
    background-color: #fb0707a1;
    color: lightgreen;
    border: 2px solid white;
}